{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies" : 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],

    "react/jsx-props-no-spreading": [
      1,
      {
        "html": "ignore",
        "custom": "ignore",
        "explicitSpread": "ignore",
        "exceptions": ["ignore"]
      }
      ]
      
      
    }
  
}
